# Created by Ansible role `bitbucket_config`
jdbc.driver={{ atl_db_driver }}
jdbc.url={{ atl_jdbc_url }}
jdbc.user={{ atl_jdbc_user }}
jdbc.password={{ atl_jdbc_password }}

hazelcast.network.aws=true
hazelcast.network.aws.tag.key=Cluster
hazelcast.network.multicast=false
hazelcast.network.aws.iam.role={{ atl_aws_iam_role }}
hazelcast.network.aws.region={{ atl_aws_region }}
hazelcast.network.aws.tag.value={{ atl_aws_stack_name }}
hazelcast.group.name={{ atl_aws_stack_name }}
hazelcast.group.password={{ atl_aws_stack_name }}
plugin.search.elasticsearch.baseurl={{ atl_elasticsearch_endpoint }}
{% if elasticsearch_should_auth_with_iam | bool %}
plugin.search.elasticsearch.aws.region={{ atl_aws_region }}
{% else %}
plugin.search.elasticsearch.username={{ atl_elasticsearch_username }}
plugin.search.elasticsearch.password={{ atl_elasticsearch_password }}
{% endif %}
setup.displayName=Bitbucket
setup.baseUrl = {{ atl_bitbucket_baseurl }}
setup.license={{ atl_bitbucket_license_key }}
setup.sysadmin.username=admin
setup.sysadmin.password={{ atl_bitbucket_admin_password }}
setup.sysadmin.displayName=AdminIstrator
setup.sysadmin.emailAddress=admin@yourcompany.com

server.proxy-name={{ atl_proxy_name }}
server.secure={{ atl_ssl_proxy }}
server.require-ssl={{ atl_ssl_proxy }}
{% if atl_ssl_proxy == 'true' %}
server.scheme=https
server.proxy-port=443
server.additional-connector.1.port=7991
{% else %}
server.scheme=http
server.proxy-port=80
{% endif %}

{% for prop in atl_bitbucket_properties %}
{{ prop }}
{% endfor %}
