[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.10.7"
boto3 = "==1.17.49"
botocore = "==1.20.49"

[dev-packages]
molecule = "==3.2.2"
molecule-docker = "==0.2.4"
docker = "==4.4.1"
taskcat = "*"
pytest = "*"
testinfra = "*"

[requires]
python_version = "3.7"
