[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.8.2"

[dev-packages]
molecule = "==2.20.1"
docker = "==4.0.1"
six = "*"
taskcat = "*"
Jinja2 = "*"

[requires]
python_version = "3.7"
