launch.application$Boolean=false
rmiPort$Long=8005
app.jiraHome={{ atl_product_home }}
app.install.service$Boolean=true
existingInstallationDir={{ atl_product_installation_dir }}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ atl_product_installation_dir }}
executeLauncherAction$Boolean=true
httpPort$Long=8080
portChoice=default
executeLauncherAction$Boolean=false
