#!/bin/bash

cd {{ atl_diy_backup_repo }}

if [[ -f .venv/bin/activate ]]; then
    source .venv/bin/activate
else
    virtualenv .venv
    source .venv/bin/activate
    pip install boto
fi

./bitbucket.diy-backup.sh
