[Unit]
Description=Atlassian Jira
After=network-online.target

[Service]
User={{ atl_product_user }}
Group={{ atl_product_user }}

# NOTE: Additional environment vars are set in {{ atl_product_installation_target }}/bin/setenv.sh
Environment=JIRA_HOME="{{ atl_product_home }}"
Environment=CATALINA_OPTS="{{ atl_catalina_opts }} {{ atl_catalina_opts }}"

ExecStart={{ atl_product_installation_target }}/bin/start-jira.sh -fg

[Install]
WantedBy=multi-target.target
