launch.application$Boolean=false
rmiPort$Long={{ atl_tomcat_mgmt_port | default('8005') }}
app.jiraHome={{ atl_product_home }}
app.install.service$Boolean=false
app.service.account={{ atl_product_user }}
existingInstallationDir={{ atl_product_installation_versioned }}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ atl_product_installation_versioned }}
executeLauncherAction$Boolean=true
httpPort$Long={{ atl_tomcat_port | default('8080') }}
portChoice=default
executeLauncherAction$Boolean=false
