[Unit]
Description=Atlassian Synchrony Server
After=network-online.target

[Service]
User={{ atl_product_user }}
Group={{ atl_product_user }}

EnvironmentFile=/etc/atl
EnvironmentFile=/etc/atl.synchrony

ExecStart={{ atl_installation_base }}/bin/start-synchrony

Restart=on-failure

[Install]
WantedBy=multi-target.target
